.form {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: right;
  width: 50%;
  height: 40rem;
  padding-left: 2rem;

  &__input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    font-family: "futuramedium";
    font-size: 1.6rem;
    width: 10rem;
    height: 4rem;
    border-radius: 3px;
    background: linear-gradient(to right, $lightStrongAlt, #fff 280%);
  }
}

textarea {
  height: 15rem;
  width: 100%;
}

input[type="text"],
textarea {
  font-family: "futuramedium";
  font-size: 1.6rem;
  padding-bottom: 1.5rem;
  border: unset;
  border-bottom: 2px solid $black;
  transition: all 0.2s ease-in;
  margin-bottom: 3px;
  outline: none;
}

input[type="text"]:hover,
textarea:hover,
input[type="text"]:focus,
textarea:focus {
  border-color: #e79c10;
}

textarea::placeholder,
input::placeholder {
  color: $black;
}

label {
  display: none;
}

@media screen and (max-width: 1100px) {
  .form {
    width: 95%;

    &__input-container {
      flex-wrap: wrap;
    }
    &__input-container input {
      width: 45%;
      min-width: 20rem;
      margin-top: 2rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .form {
    width: 100%;
  }
}
